# dependencies
/node_modules

# Next.js
/.next
/out
*.tsbuildinfo

# env files
.env
.env.local
.env.*.local

# misc
.DS_Store
*.pem
*.html
npm-debug.log*
.playwright-mcp
/logo.png
/REFINED_PRD.md
/SPEC.md
/USER_ROLES.md
